@model ENREL.Models.RepresentantesLegales.CatRepresentantesLegales
@{
    ViewBag.Title = "Eliminar Representante legal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string NombreUsuarioSession = "";
    if (Session["NombreUsuario"] != null)
    {
        NombreUsuarioSession = Session["NombreUsuario"].ToString();
    }
}

<!-- Begin Digital Analytix Tag 1.1302.13 -->
<script type="text/javascript">
    udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=SENER.ENREL.INVERSIONISTA.REPRESENTANTES.ELIMINAR');
</script>
<noscript><p><img src="'https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&id_usuario=' + @NombreUsuarioSession + '&name=SENER.ENREL.INVERSIONISTA.REPRESENTANTES.ELIMINAR" height="1" width="1" alt="*"></p></noscript>
<!-- End Digital Analytix Tag 1.1302.13 -->

@*Breadcum y usuario*@
<div class="row" style="margin-top:94px">
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li><a href="https://www.gob.mx/" target="_blank"><i class="icon icon-home"></i></a></li>
            <li><a href="@Url.Action("InicioInversionista","Home")">Inicio</a></li>
            <li><a href="@Url.Action("Index","RepresentantesLegales")">Representantes legales</a></li>
            <li class="active">Eliminar Representante legal</li>
        </ol>
    </div>
    <div class="col-sm-4">
        <div class="user-credencials">
            <ul class="list-unstyled">
                <li>
                    <span class="user-credencials__name">@NombreUsuarioSession</span>
                    <button type="button" class="btn btn-link pull-right" onclick="javascript: uid_call('SENER.ENREL.INVERSIONISTA.BTN_CERRARSESIÓN', 'clickout'); location.href = '@Url.Action("Logout", "Home")'">Salir</button>
                </li>
                <li><a href="@Url.Action("Actualizar", "Usuarios")">Modificar usuario</a></li>
            </ul>
        </div>
    </div>
</div>


@*Título *@
<h2>Eliminar Representante legal </h2>
<div class="bottom-buffer"></div>



<div class="col-md-8">
    <div class="row">
        <div id="divTextoInicial" class="alert alert-warning alert-dismissible">
            <strong>Puedes eliminar la cuenta asociada a <b>@ViewBag.NombreRepresentanteEliminar</b>, si actualmente existe más de un representante legal.
            <br />
            <br />
            Si eliminas la cuenta con la que has accedido serás redirigido automáticamente a la página de inicio y no podrás volver a acceder con esta cuenta.</strong>
        </div>
    </div>
</div>
<div class="bottom-buffer"></div>
<div class="bottom-buffer"></div>
@*Contenido: *@


@if (TempData["notice"] != null)
{
    <div class="col-md-8">
        <div class="row">
            <div id="divAlerta" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@TempData["notice"]</strong>
            </div>
        </div>
    </div>
}

<div id="divAlertaErrorFiel" class="alert alert-danger alert-dismissible col-sm-8" style="display:none">
    <strong>Uno o más campos son incorrectos, por favor verifica la información.</strong>
</div>

<div class="col-md-8">
    @using (Html.BeginForm("EliminarRepresentanteLegal", "RepresentantesLegales", new { Accion = "Eliminar", @class = "ns_" }, FormMethod.Post, new { onsubmit = "ValidarFIEL(event, this)", id = "EliminarEmpresa", enctype = "multipart/form-data", @class = "clearfix" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.RL_IdRepresentanteLegal);
        @Html.HiddenFor(model => model.RL_RFC);

        <div class="form-group hidden-xs ">
            <div class="row">
                <label for="file1">Certificado (.cer)<span id="Alerta_file1">*</span>:</label>
                <input type="file" name="files" id="file1" onchange="ValidarArchivoFiel(this, event)" />
                <small id="Mensaje_file1" style="color: #d0021b"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group hidden-xs ">
                <label for="file2">Llave (.key)<span id="Alerta_file2">*</span>:</label>
                <input type="file" name="files" id="file2" onchange="ValidarArchivoFiel(this, event)" />
                <small id="Mensaje_file2" style="color: #d0021b"></small>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group">
                <label>RFC:</label>
                @Html.TextBox("RFC", (string)@ViewBag.RFCRepresentante, new { @class = "form-control ns_", @readonly = "true" })
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Contraseña<span id="Alerta_RL_ClavePrivada">*</span>:</label>
                @Html.TextBoxFor(model => model.RL_ClavePrivada, new { @onblur = "if(MinCaracteres(this,1)){ValidarObjeto(this,event)}", @class = "form-control", @type = "password", @placeholder = "Contraseña" })
                <small id="Mensaje_RL_ClavePrivada" style="color: #d0021b"></small>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="pull-left text-muted text-vertical-align-button">
                    * Campos obligatorios
                </div>

                <div class="pull-right">
                    <button class="btn btn-primary btn" type="submit" onclick="javascript: uid_call('SENER.ENREL.INVERSIONISTA.REPRESENTANTES_ELIMINAR.BTN_FIRMAR', 'clickin');">Firmar</button>
                </div>
            </div>
        </div>
    }
</div>
