@model ENREL.Models.Usuarios.CatUsuarios
@{
    ViewBag.Title = "SolicitudDeContraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Digital Analytix Tag 1.1302.13 -->
<script type="text/javascript">
    udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=Inicio');
</script>
<noscript><p><img src="https://sb.scorecardresearch.com/p?c1=2&amp;c2=17183199&amp;ns_site=gobmx&amp;name=SENER.ENREL.Inicio.Inversionista" height="1" width="1" alt="*"></p></noscript>
<!-- End Digital Analytix Tag 1.1302.13 -->
@*Breadcum: *@
<div class="row" style="margin-top:94px">
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li>
                <a target="_blank" href="https://www.gob.mx/">
                    <i class='icon icon-home'></i>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Home")">
                    Inicio
                </a>
            </li>
            <li class="active">
                Solicitud de contraseña
            </li>
        </ol>
    </div>
</div>
@*<div >
        <table style="width:100%;margin-top:94px">
            <tr>
                <td style="width:49%; text-align:left; vertical-align:top">
                    <ol class='breadcrumb' style="padding:8px 8px 8px 8px; margin-bottom:0px;">
                        <li>
                            <a target="_blank" href="https://www.gob.mx/">
                                <i class='icon icon-home'></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")">
                                Inicio
                            </a>
                        </li>
                        <li class="active">
                            Solicitud de contraseña
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>*@

@*Título *@
<h2>Solicitud de contraseña</h2>
<div class="bottom-buffer"></div>

<div class="row">
    <div class="col-sm-8">
        <div class="bottom-buffer">
            <p>
                Si has olvidado tu contraseña ingresa tu nombre de usuario, en un momento recibirás un enlace a una
                página web en la que podrás cambiar tu contraseña.
                <br />
                <br />
                El enlace será válido por 24 horas, si no se realiza
                el cambio de contraseña en ese periodo, tendrás que volver a solicitar un cambio de contraseña en esta misma página.
            </p>
        </div>
    </div>
</div>

@if (TempData["notice"] != null)
{
    <div class="col-sm-8">
        <div class="row">
            <div id="divAlerta" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@TempData["notice"]</strong>
            </div>
        </div>

    </div>

}

<div id="divAlertaFormulario" class="alert alert-danger alert-dismissible col-sm-8" style="display:none">
    <strong>Uno o más campos son incorrectos, por favor verifica la información.</strong>
</div>

<div class="col-sm-8">



    @using (Html.BeginForm("EnviarCambioDeContraseña", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "ValidaUsuario", enctype = "multipart/form-data", onsubmit = "ValidarFormulario(event, this, 2)" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <label>Usuario<span class="form-text" id="Alerta_U_Nombre">*</span>:</label>
            @Html.TextBoxFor(model => model.U_Nombre, new { maxlength = 30, @onblur = "if(MinCaracteres(this,6)){ValidarNombreUsuario(this,event)}", @class = "form-control ns_", @placeholder = "Cuenta de usuario" })
            <small id="Mensaje_U_Nombre" style="color: #d0021b"></small>
        </div>

        <div class="form-group">
            <div class="pull-left text-muted text-vertical-align-button">
                * Campos obligatorios
            </div>
            <div style="text-align:right">
                <button class="btn btn-primary " type="submit">Solicitar</button>
            </div>
        </div>

        <div class="botton-buffer"></div>
    }

</div>

<br />
<br />
<br />
<br />



