@model IEnumerable<ENREL.Models.Usuarios.CatUsuarios>

    @{
        ViewBag.Title = "Usuarios";
        Layout = "~/Views/Shared/_Layout.cshtml";

        string NombreUsuarioSession = "";
        if (Session["NombreUsuario"] != null)
        {
            NombreUsuarioSession = Session["NombreUsuario"].ToString();
        }
    }

    <!-- Begin Digital Analytix Tag 1.1302.13 -->
    <script type="text/javascript">
        udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=SENER.ENREL.INVERSIONISTA.USUARIOS.CATÁLOGO');
    </script>
    <noscript><p><img src="'https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&id_usuario=' + @NombreUsuarioSession + '&name=SENER.ENREL.INVERSIONISTA.USUARIOS.CATÁLOGO" height="1" width="1" alt="*"></p></noscript>
    <!-- End Digital Analytix Tag 1.1302.13 -->
    @*Breadcum y usuario*@
    <div class="row" style="margin-top:94px">
        <div class="col-sm-8">
            <ol class="breadcrumb">
                <li><a href="https://www.gob.mx/" target="_blank"><i class="icon icon-home"></i></a></li>
                <li><a href="@Url.Action("InicioInversionista","Home")">Inicio</a></li>
                <li class="active">Usuarios</li>
            </ol>
        </div>
        <div class="col-sm-4">
            <div class="user-credencials">
                <ul class="list-unstyled">
                    <li>
                        <span class="user-credencials__name">@NombreUsuarioSession</span>
                        <button type="button" class="btn btn-link pull-right" onclick="javascript: uid_call('SENER.ENREL.INVERSIONISTA.BTN_CERRARSESIÓN', 'clickout'); location.href = '@Url.Action("Logout", "Home")'">Salir</button>
                    </li>
                    <li><a href="@Url.Action("Actualizar", "Usuarios")">Modificar usuario</a></li>
                </ul>
            </div>
        </div>
    </div>


    @*Título *@
    <h2>Usuarios </h2>
    <div class="vertical-buffer"></div>
    @*Ventana Modal: *@
    <div id="MyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button class="close" aria-label="Close" type="button"  data-dissmiss="modal" aria-hidden="true">x</button>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">¡Alerta!</h4>
                </div>
                <div class="modal-body" id="modal-content">
                    @*<div id="modal-content">*@
                    Cargando...
                    @*</div>*@
                </div>
            </div>
        </div>

    </div>


    @*Alertas:*@
    @if (TempData["notice"] != null)
    {
        <div id="divAlerta" class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@TempData["notice"]</strong>
        </div>
    }

    <table class="table" style="width:100%;">
        <thead>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Tipo
                </th>
                <th style="text-align:center;">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(emp => item.U_Nombre)
                    </td>
                    <td>
                        @if (item.U_IdTipoUsuario == 1)
                        {@Html.Label("Operativo")}
                        else
                        {@Html.Label("Representante Legal")}
                    </td>

                    <td style="width:200px;text-align:center">
                        <span style="float:inherit;">
                            @using (Html.BeginForm("Detalles", "Usuarios", FormMethod.Post, new { id = "Index_DetallesUsuario", @class = "ns_", enctype = "multipart/form-data", style = "display:inline-block;" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@item.U_IdUsuario" id="IdUsuario" name="IdUsuario" />
                                <button type="submit" style="background:none; outline:none; border:none" onclick="javascript: uid_call('SENER.ENREL.USUARIOS.CATÁLOGO_DETALLE.BTN_SUBMIT', 'clickin');"><i class="glyphicon glyphicon-eye-open" style="color:black" data-toggle="tooltip" data-placement="top" title="Detalles del usuario."></i></button>
                            }
                        </span>
                        <span>
                            @using (Html.BeginForm("Eliminar", "Usuarios", FormMethod.Post, new { id = "Index_EliminarUsuario", @class = "ns_", enctype = "multipart/form-data", style = "display:inline-block;" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@item.U_IdUsuario" id="IdUsuario" name="IdUsuario" />
                                <button type="submit" style="background:none; outline:none; border:none" onclick="javascript: uid_call('SENER.ENREL.USUARIO.CATÁLOGO_ELIMINAR.BTN_SUBMIT', 'clickin');"><i class="glyphicon glyphicon-trash" style="color:black" data-toggle="tooltip" data-placement="top" title="Eliminar usuario."></i></button>
                            }
                        </span>


                    </td>
                </tr>
            }
        </tbody>
    </table>


