
    @{
        ViewBag.Title = "InformaciónMontosInversion";
        WebGrid grid = new WebGrid(source: ViewBag.ListadoMontoInversion, rowsPerPage: 10, canSort: false, canPage: true);
        Layout = "~/Views/Shared/_Layout.cshtml";
        string NombreUsuarioSession = "";
        string TipoUsuarioSession = "";
        if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString() != "")
        {
            TipoUsuarioSession = Session["TipoUsuario"].ToString();
        }
        if (Session["NombreUsuario"] != null)
        {
            NombreUsuarioSession = Session["NombreUsuario"].ToString();
        }
    }

@*Breadcum y usuario*@
<div class="row" style="margin-top:94px">
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li><a href="https://www.gob.mx/" target="_blank"><i class="icon icon-home"></i></a></li>
            <li><a href="@Url.Action("Index","Consultor")">Inicio</a></li>
            <li class="active">Información de montos de inversión</li>
        </ol>
    </div>
    <div class="col-sm-4">
        <div class="user-credencials">
            <ul class="list-unstyled">
                <li>
                    <span class="user-credencials__name">@NombreUsuarioSession</span>
                    <button type="button" class="btn btn-link pull-right" onclick="javascript: uid_call('SENER.ENREL.INVERSIONISTA.BTN_CERRARSESIÓN', 'clickout'); location.href = '@Url.Action("Logout", "Home")'">Salir</button>
                </li>
                <li><a href="@Url.Action("Actualizar", "Usuarios")">Modificar usuario</a></li>
            </ul>
        </div>
    </div>
</div>


@*Título *@
<h2>Información sobre montos de inversión</h2>
<div class="bottom-buffer"></div>

<h4>
    Filtro
</h4>
<hr class="red" />

@*Contenido *@


@using (Html.BeginForm("Index", "ReporteMontos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Desde:</label>
                <div class="form-group datepicker-group">
                    <input class="form-control ns_" id="FechaInicio" type="text" name="FechaInicio" value='@TempData["fechainicio"]' onchange="javascript: this.form.submit();">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Hasta:</label>
                <div class="form-group datepicker-group">
                    <input class="form-control ns_" id="FechaFin" type="text" name="FechaFin" value='@TempData["FechaFin"]' onchange="javascript: this.form.submit();">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
}



<br />



    @*Título *@
    <h4>
        Gráficos descriptivos
    </h4>
    <hr class="red" />
    <h4>
        Porcentaje de inversión por tecnologías
    </h4>
<br />
<p>Descripción: Monto de inversión en dólares (usd) y porcentaje de inversión por cada tecnología.</p>
<br />
    <div id="chart_div1"></div>

    <br />
    <h4>
        Monto de inversión por estados
    </h4>
<br />
<p>Descripción: Monto de inversión en dólares (usd) por cada estado.</p>

    <br />
    <div id="chart_div2"></div>


    <script src="~/scripts/graficas/loader.js"></script>
    <script type="text/javascript">

        $(function () {
            try {
                $('#FechaInicio').datepicker({ changeYear: true });
                $('#FechaFin').datepicker({ changeYear: true });
            }
            catch (error) {
                //alert(error.message)
            }
        });

        try {
            google.charts.load('current', { 'packages': ['corechart'] });

            //Grafica 1: Inversión por tecnología
            var data1 = JSON.parse('@ViewBag.InversionPorTectnologia');
            google.charts.setOnLoadCallback(drawChart1);

            //Grafica 2: Inversión por estados
            var data2 = JSON.parse('@ViewBag.InversionPorEntidadFederativa');
            google.charts.setOnLoadCallback(drawChart2);

        }
        catch (error) {
            //alert(error.message);
        }


        function drawChart1()
        {
            if (data1.length > 1)
            {
                var chartData = new google.visualization.arrayToDataTable(data1);

                var options = {
                    'title': '',
                    'width': 1000,
                    'height': 500
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
                chart.draw(chartData, options);
            }
            else {
                document.getElementById('chart_div1').textContent = "Sin información disponible";
            }
            
        }


        function drawChart2()
        {
            if (data2.length > 1)
            {
                var chartData = new google.visualization.arrayToDataTable(data2);

                var options = {
                    'title': '',
                    'width': 1000,
                    'height': 500
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
                chart.draw(chartData, options);
            }
            else {
                document.getElementById('chart_div2').textContent = "Sin información disponible";
            }
            
        }

    </script>
